    <nav class="bg-black opacity-80 py-4">
        <div class="w-screen px-6 ">
            <div class="relative flex items-center justify-between">
                <div class="flex space-x-4">
                    <div class="nav-brend mt-1 mx-2">
                        <img src="../../../../assets/Cineplay.svg" class="h-10 w-20">
                    </div>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium" routerLink="" routerLinkActive="active">Home</a>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-sm text-sm font-medium" routerLink="/allmovie/listmovies" routerLinkActive="active">All Movies</a>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-sm text-sm font-medium" routerLink="/list/mylist" routerLinkActive="active">My List</a>
                </div>
                <div class="absolute right-1 flex items-center space-x-4 ">
                    <a href="#" class="border-2 border-gray-900 text-white px-3 py-2 rounded-sm text-sm font-medium" aria-current="page">Login</a>
                    <a href="#" class="border-2 border-red-700 text-white px-3 py-2 rounded-sm text-sm font-medium" aria-current="page">Signup</a>
                </div>
            </div>
        </div>
    </nav>