<!-- <div class="flex justify-center">
	<video id="my_video_1" class="h-72 w-auto pt-20" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'>
		<source [src]="movie.src" type='video/mp4' /> 
	</video>
	<div class="movie-details px-24 space-y-4">
		<div class="movie-name py-2 border-b-2 border-yellow-600">
			<p class="text-white">{{ movie.name }}</p>
		</div>
		<div class="movie-Overview">
			<p class="text-white">Movie Overview</p>
		</div>
		<p class="text-white">{{ movie.details }}</p>
	</div>
</div> -->

